html, body {
    min-height: 100vh;
    min-width:  100vw;
    overflow-x: hidden;
    background-image: url(../img/Bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

body{
    
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: white;
    margin: 0 auto;

    }

.header_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    margin-top: 58px;
    max-width: 1440px;
    
}

.logo_text{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
 }

 .menu_{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 114px;
 }

 .nav__link{
    color: #ffffff; 
    text-transform: uppercase;
    font-family: Lato;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    padding-left: 15px;
    text-decoration: none;
}

.nav__link:hover{
    text-decoration: underline;
 
}

.menu_right{
    margin
    display: flex;
    align-items: center;

}
.img_flag{
    margin-right: 10px;
}

.language{
    margin-right: 10px;
}

.vector{
    margin-right: 21px;
}
.login_button{
    margin:0 auto;
    height: 40px;
    font-family: 'Lato', sans-serif;
    width: 100px;
    background: transparent;
    font-size: 14px;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    font-family: Lato;
    line-height: 17px;
    text-transform: uppercase;
    color: #ffffff;
}

.login_button:hover{
    border: 3px solid white;
    
}

.intro{
    margin: 0 auto;
    margin-top: 150px;
    text-align: center;
}

.tittle{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 72px;
    line-height: 86px;
    letter-spacing: 0.05em;
    text-align: center;
    margin: 0 auto;
}

.subtittle{
    font-family: 'Lato', sans-serif;
    max-width: 540px;
    font-style: normal;
    font-weight: 600;
    font-size: 1.7rem;
    line-height: 150%;
    margin: 0 auto;
    margin-top: 19px;
}

.btn{
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    width: 160px;
    height: 50px;
    margin: 0 auto;
    margin-top: 39px;
    text-align: center;
    color: #ED4C5C;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    
}
.btn:hover{
     
     background:transparent;
     color: white;
   
}
    